<a href="https://colab.research.google.com/github/d93y70123123/AI/blob/master/20200305.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Day1**

# ***基本輸入:讀取使用者的輸入***

In [0]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:kai
Hello, kai

In [0]:
a = input("請輸入：")
type(a)

請輸入：aa

str

# **[程式除錯題]錯誤的做法：請指出底下程式的錯誤**

In [0]:
"""
a = input("請輸入：")
a
b=a+1
b
"""

'\na = input("請輸入：")\na\nb=a+1\nb\n'

## **讀取使用者輸入的整數==>使用eval()函數**

In [0]:
a = eval(input("請輸入："))
a
b=a+1
b

請輸入：12

13

## **超級重要:可以一次輸入多（兩）個資料**

In [0]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：12,23

(12, 23)

### **Day2**

In [0]:
str1 = '這是字串'
print(str1)

str2 = "這也是字串"
print(str2)

str3 = 'allows embedded "double" quotes'
print(str3)

"""## 存取字串中的值: 使用方括號"""

#!/usr/bin/python
 
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

"""## 字串的更新"""

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str1 = 'Hello World!'

print("更新前的字串-> ", str1[:])
print("更新前的字串(也可以這樣寫)-> ", str1)
print("更新後的字串-> ", str1[:6] + 'Python!')

"""## 字串的加法運算"""

str4=str1 + str2
print(str4)

"""##  更多練習"""

a='  Hello   '
b='  Python ! '

a+b

a*2

a[1:4]

"H" in a

"H" not in a

"""# 字串反轉

Reverse string in Python (5 different ways)

https://www.geeksforgeeks.org/reverse-string-python-5-different-ways/
"""

def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 
  
#s = "HappyHackingDay"
s = "BreakAllCTF{HappyHackingDay}"

print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

這是字串
這也是字串
allows embedded "double" quotes
var1[0]:  H
var1[1:8]:  ello Py
更新前的字串->  Hello World!
更新前的字串(也可以這樣寫)->  Hello World!
更新後的字串->  Hello Python!
Hello World!這也是字串
The original string  is : BreakAllCTF{HappyHackingDay}
The reversed string(using recursion) is : }yaDgnikcaHyppaH{FTCllAkaerB

# 更多的練習

In [0]:
str1='happy python day'
str2='    Oh!   '
str4=str1 + str2
print(str4.capitalize())

mystr = 'python'
str4.find(pyth, beg=0, end=len(str4))

print(str4.encode('base64'))

Happy python day    oh!

NameError: ignored

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalpha())

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python"
print(str.isalpha())

### **如果 string 至少有一個字元並且所有字元都是字母或數字則返回 True, 否則返回 False**

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalnum())

str = "Python"
print(str.isalnum())

str = "2019"
print(str.isalnum())

str = "Python 2019"
print(str.isalnum())

In [0]:
#! /usr/bin/python3

print("Hello world")

### **Day2_資料型態**

In [0]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

In [0]:
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

In [0]:
list1 = [21, 33, 14, 12, 32,98]

list1[1]
len(list1)
max(list1)
min(list1)
sum(list1)

In [0]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
 
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

## **算術運算**

In [0]:
-3%2

In [0]:
a = 7//2
b = 7.0//2
c = 7//2.0
a,b,c

In [0]:
5 ** 2

## Logical Operators::

In [0]:
x = 5

print(x > 3 and x < 10)

In [0]:
x = 5

print(x > 3 or x < 4)

In [0]:
x = 5

print(not(x > 3 and x < 10))

### **Bitwise Operators**

In [0]:
#!/usr/bin/python3
 
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

print ("0 - a =  60 = 0011 1100(二進位) ")
print ("0 - b =  13 = 0000 1101(二進位) ")
c = a & b;        # 12 = 0000 1100
print ("1 - c = a & b的值為：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c = a | b的值為：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c= a ^ b 的值為：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c = ~a的值為：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c = a << 2的值為：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c = a >> 2的值為：", c)

### **進位轉換**

In [0]:
x = bin(36)
x

x = oct(36)
x

x = hex(255)
x

### **int()函數的測試**

In [0]:
x=int('10',2)
x

x=int('10',16)
x

x=int('10',8)
x

### **round()函數的測試**

In [0]:
#Round a number to only two decimals:

x = round(5.76543, 2)
print(x)

# Round to the nearest integer:

x = round(5.76543)
print(x)

### **Python 類型轉換**

In [0]:
a = 1.0004
int(a)

b = 0.9999
int(a)

### **運算子優先順序**

# **Day3**

### **[程式設計題]請問從元旦到今天你已經過幾天呢了？**

In [0]:
import time  # 使用python標準函數庫的time模組{處理時間的函數}

date = time.localtime()	
print(date)
import time

date = time.localtime()		#取得目前的日期時間
year = date[0]
month = date[1]
day = date[2]

day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	#判斷是否為閏年
  day_month[1] = 29

if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

### **[程式設計題]輸入年月日可以顯示那一年從元旦到今天已經過幾天**

In [0]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

### **多向判斷式（if⋯elif⋯else）多選一**

In [0]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

# **Day4**

### **range() 函式**

In [0]:
list1=range(10)
print(list1)

In [0]:
print(list(list1))

In [0]:
list1=range(-4,5)
print(list(list1))

In [0]:
for x in range(19):
  print(x)

In [0]:
for x in range(0,19,2):
  print(x)

In [0]:
for x in range(20,11,-1):
  print(x)

In [0]:
for x in range(0,19,-1):
  print(x)

In [0]:
output = ''
for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

output = ''

In [0]:
for x in range(0,19,3):
  print(x, end=" ")

In [0]:
list1 = range(0,19,3)

In [0]:
for x in list1:
  print(x, end=" ")

### **for 迴圈**

In [0]:
for n in range(5):
  print(n)

In [0]:

for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

In [0]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

In [0]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

In [0]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

### **While Loop**

In [0]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

### **break 指令**

In [0]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

### **continue 指令**

In [0]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

### **[程式閱讀題] 執行下列程式並說明其結果**

In [0]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

# **Day5**

In [0]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

### **寫一個函式將輸入的兩個變數值互換**

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def swap(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

### **函式與回傳值**

In [0]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

### **函式與參數**

In [0]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 11, height = 12):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

printArea() 
printArea(4, 2.5) # Positional arguments width = 4 and height = 2.5
printArea(height = 5, width = 3) # Keyword arguments width 
printArea(width = 1.2) # Default height = 2
printArea(height = 6.2) # Default widht = 1

### **[小小測驗]:執行下列程式並說明其結果"""**

In [0]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def hello_3(greeting='Hello', name='world'): 
    print('{}, {}!'.format(greeting, name)) 

    
hello_3() 
hello_3('Greetings') 
hello_3('Greetings', 'universe')
hello_3(name='GGGGGGoood')

### [特別注意]要將字典dict型的資料傳給函數時,記得要使用**""" **bold text**

In [0]:
params = {'name': 'Sir Simon Rattle', 'greeting': 'To my Great Conductor'}
hello_3(**params)

### collectiong parameters(任意數量的參數):* 與 ** italicized text

In [0]:
def print_params(*params): 
    print(params) 

print_params('Testing') 

print_params(1, 2, 3) 


# return的是tuple資料型態

#可和一般參數齊用

def print_params_2(title, *params): 
    print(title) 
    print(params)

print_params_2('Params:', 1, 2, 3)
print_params_2('Nothing:')

### 撰寫擁有任意數量參數的函式且要支援關鍵字參數==>使用** **bold text**

In [0]:
def print_params_3(**params): 
    print(params) 

print_params_3(x=1, y=2, z=3) 

# return的是dict(字典資料型態)

def print_params_4(x, y, z=3, *pospar, **keypar): 
    print(x, y, z) 
    print(pospar) 
    print(keypar) 

print_params_4(1, 2, 4, 5, 6, 7, foo=1, bar=2)

print_params_4(1, 2)

### **變數的有效範圍**

In [0]:
x = 111

def f1():
    x = 222
    print(x) 

f1()
print(x)

x = 1

def increase():
    global x
    x =  x + 1
    print(x) 

increase()
print(x)
increase()
increase()
print(x)

### **遞迴函式**

### **費氏數列**

### **方法一:使用 recursive**

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

print(fib(10))

### **方法二:使用 iterative**

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 
print(fib(10))

### **問題:要如何知道函數被呼叫的次數??**

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(x):	
	global numFibCalls
	numFibCalls += 1
	
	if x == 0 or x == 1:
           return 1
	else:
          return fib(x-1) + fib(x-2)

def testFib(n):
	for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

### **Python內建函數**

## hex(x):Convert an integer number to a lowercase hexadecimal string prefixed with "0x"

In [0]:
hex(255)

hex(-42)

### **oct(x):Convert an integer number to an octal string prefixed with "0o"**

In [0]:
oct(8)

oct(-56)

### **bin(x):Convert an integer number to a binary string prefixed with "0b"**

In [0]:
bin(3)

bin(-10)